{% extends "server/index.html" %}
{% load static %}
{% block head %} Авторы Кулинарных книг {% endblock %}
{% block content %}
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-12">
            <div class="bg-secondary text-center rounded p-4">
                <div class="d-flex align-items-start mb-3">
                    <h6 class="mb-1">Таблица авторов:</h6>
                </div>
                <table style="color: aliceblue; border:1px solid #e73168" class="table table-bordered text-center">
                    <thead>
                    <tr>
                        <th>Автор</th>
                        <th>Описание</th>
                        <th>Название Книги</th>
                    </tr>
                    </thead>
                    {% for i in auth %}
                    <tr>
                        <td>{{i.author_name}}</td>
                        <td>{{i.bio}}</td>
                        <td>{{i.cookbook.title}}</td>
                    </tr>
                    {% endfor %}
                  </table>
            </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}